<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>59784267997-psnad57fnvu0eo30r4jq5lgrvnjr9dro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59784267997-psnad57fnvu0eo30r4jq5lgrvnjr9dro</string>
	<key>API_KEY</key>
	<string>AIzaSyCzJVU0TV7UXWYrRfv5EPtzrJqoFBnMGvg</string>
	<key>GCM_SENDER_ID</key>
	<string>59784267997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hubertwang.Jenius-Hackathon</string>
	<key>PROJECT_ID</key>
	<string>jenius-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>jenius-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59784267997:ios:091c990fea4629ff</string>
	<key>DATABASE_URL</key>
	<string>https://jenius-hackathon.firebaseio.com</string>
</dict>
</plist>